body {
    margin: 0px;
    padding: 0px;
}

.main_pic img {

    width: 50%;
    height: 200px;
    display: flex;
    margin: 45px auto;
}

.box1 {
    /* margin-left: 150px ; */
    text-align: center;
}
.box1 h1{
    color: #8ac642;
}

audio {

    margin-bottom: 20px;
    background: transparent;
    border: 2px solid #8ac642;
    border-radius: 30px;
    height: 35px;
    

}
.box1 h2{
    font-size: 30px;
    color: #3973b9;
    
}
.box1 .time h3{
    color: #625d5d;
} 
.dua_sehri{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.time{
    text-align: center;
}
.centre .time{
    /* width: 70%; */
 /* margin-left: 400px ; */
}
.sehri,.roza_iftar{
    width: 300px;
    padding: 20px;
    height: 200px;
    box-shadow: 0 0 20px rgba(56, 56, 56, 0.705);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
}

.calendar{
    width: 100%;
}
table {
    border-collapse: collapse;
    background-color: #bce08f;
    margin: 30px auto;
    border: 2px solid black;
}

.new{
    color: #203a00;
}
.deal{
    color: green;
}
.color{
color: rgb(236, 34, 176);
}

tr th {
    
    padding: 10px;
    font-weight: 200;
    font-size: 18px;
    color: #8ac642;
    /* border-bottom: 4px solid #f1f1f1; */
}
tr th {
    border-bottom: 4px solid #f1f1f1;
}
tr.trs td {
    font-size: 16px;
    text-align: center;
    border-bottom: 2px solid #f1f1f1;
    padding: 5px;
    
}
tr.trs:hover {
    background: #f1f1f16e;
}